body {
    font-family: 'EB Garamond', serif;
    font-size: 140%;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #CFBAF0;
    padding: 0.2rem 0.5rem;
    border-bottom: 2px solid black;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.navbar h1 {
    color: white;
    padding: 0.2rem 0.5rem;
    text-shadow: 1px 1px black;
}

.navbar ul li {
    padding: 0.5rem 1rem;
    background: white;
    border: 1px solid black;
    border-radius: 0.5rem;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hero-fullheight {
    height: 100vh;
    background-image: url('../img/undraw_dreamer_re_9tua.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    padding-top: 20vh;
}

.hero-fullheight h2,
.hero-fullheight p {
    margin-top: 1rem;
    text-shadow: 1px 1px white;
}

.hero-fullheight button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #B9FBC0;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}


.main-content {
    background: white;
    padding: 1rem 1rem;
}

.main-content h1 {
    margin-bottom: 1rem;
}

.main-content p {
    margin-bottom: 1rem;
}


footer {
    width: 100%;
    background: #98F5E1;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 0.5rem 1rem;
}