body {
    font-family: 'EB Garamond', serif;
    font-size: 140%;
}


nav {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: space-evenly;
    background: #CFBAF0;
    padding: 0.3rem 0.6rem;
    border-bottom: 2px solid black;
}

nav h1 {
    color: white;
    text-shadow: 1px 1px black;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

nav ul li {
    padding: 0.5rem 1rem;
    background: #B9FBC0;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hero-fullheight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    background-image: url('../img/undraw_dreamer_re_9tua.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
}

.hero-fullheight h2,
.hero-fullheight p {
    margin-top: 1rem;
    text-shadow: 1px 1px white;
}

.hero-fullheight button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #B9FBC0;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}


.main-content {
    background: white;
    padding: 1rem 1rem;
}

.main-content h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.card-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    min-width: 300px;
    max-width: 400px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.card h2{
    background: #B9FBC0;
    border-bottom: 1px solid black;
}

.card p {
    padding: 1em 1em;
    font-size: 1.25rem;
}

.card h3 {
    text-align: center;
    margin-bottom: 1rem;
}

footer {
    width: 100%;
    background: lightslategray;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 0.5rem 1rem;
}
