html,
body {
    margin: 0;
    padding: 0;
    background-color: #012A4A;
    font-family: system-ui;
    font-size: 125%;
    color: aliceblue;
}

nav {
    background-color: #013A63;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 0.4rem 1rem;
}

.active {
    background-color: #012A4A;
    border: 1px solid black;
    border-bottom: 1px solid #012A4A;
    border-radius: 0.4rem 0.4rem 0 0;
    margin: 0.2rem 0.2rem -1px 0.2rem
}

main {
    background: rgb(1, 42, 74);
    background: linear-gradient(180deg, rgba(1, 42, 74, 1) 0%, rgba(1, 58, 99, 1) 35%, rgba(1, 73, 124, 1) 100%);
    width: 80%;
    max-width: 1337px;
    margin: 1rem auto;
    padding: 1rem 1rem 0.2rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

footer {
    margin-top: 50px;
}

footer small {
    font-size: 0.75rem;
}